.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.navbar {
  background-color: #002f6c; 
  color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0px; 
  border-bottom: 2px solid #004080; 
  box-shadow: none; 
  flex-wrap: wrap; 
}

.home-icon img {
  cursor: pointer;
}

.nav-links {
  display: flex;
  align-items: center;
  flex-wrap: wrap; 
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
}

.auth-links {
  display: flex;
  align-items: center;
  margin-right: 20px; 
}

.search-form {
  display: flex;
  margin-left: auto; 
  margin-top: 10px; 
  width: 100%; 
  justify-content: center; 
}

.search-form input {
  padding: 5px;
  border: none;
  border-radius: 0px; 
  flex: 1; 
}

.search-form button {
  padding: 5px 10px;
  border: none;
  background-color: #004080; 
  color: white;
  cursor: pointer;
  border-radius: 0px; 
}

.search-form button:hover {
  background-color: #003366; 
}

.footer {
  background-color: #002f6c; 
  color: white;
  padding: 10px 20px;
  text-align: center;
  margin-top: auto; 
  border-top: 0px solid #004080; 
  border-radius: 0px; 
  box-shadow: none; 
}

.login-message a {
  color: black; 
  text-decoration: underline; 
}

@media (max-width: 768px) {
  .nav-links, .auth-links {
    flex-direction: column; 
    margin: 0;
  }
  
  .nav-links a, .auth-links a, .auth-links button {
    margin: 5px 0; 
  }
  
  .search-form {
    margin-top: 10px; 
    width: 100%; 
    justify-content: center; 
  }
  
  .search-form input {
    width: calc(100% - 80px); 
  }
  
  .search-form button {
    width: 80px; 
  }
}
